!! START Solarized Colors.
!!
#define S_base03         #002b36
#define S_base02         #073642
#define S_base01         #586e75
#define S_base00         #657b83
#define S_base0          #839496
#define S_base1          #93a1a1
#define S_base2          #eee8d5
#define S_base3          #fdf6e3
#define S_yellow         #b58900
#define S_orange         #cb4b16
#define S_red            #dc322f
#define S_magenta        #d33682
#define S_violet         #6c71c4
#define S_blue           #268bd2
#define S_cyan           #2aa198
#define S_green          #859900
!!
!! END Solarized Colors.

!! START URxvt
!!
URxvt.font:              xft:Dejavu Sans Mono:pixelsize=12:antialias=true
URxvt.loginshell:        true
URxvt.savelines:         16384
URxvt.secondaryWheel:    true
URxvt.scrollBar:         false
URxvt.scrollTtyOutput:   false
URxvt.visualBell:        true
URxvt.fading:            20
URxvt.perl-lib:          /usr/lib/urxvt/perl/
URxvt.perl-ext:          default,matcher,font-size
URxvt.url-launcher:      /usr/bin/google-chrome-unstable
URxvt.matcher.button:    1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.keysym.C-Up:       perl:font-size:increase
URxvt.keysym.C-Down:     perl:font-size:decrease
URxvt.keysym.C-S-Up:     perl:font-size:incglobal
URxvt.keysym.C-S-Down:   perl:font-size:decglobal
URxvt.keysym.C-equal:    perl:font-size:reset
URxvt.keysym.C-slash:    perl:font-size:show

urxvt*background: #EDEDED
urxvt*foreground: #000000
urxvt*cursorColor: #7d7d7d
urxvt*colorUL: #4E4FFF

!BLACK
urxvt*color0:  #FFFFFF
urxvt*color8:  #9A9A9A
!! RED
urxvt*color1:               #121212
urxvt*color9:               #1C1C1C
!
!! GREEN
urxvt*color2:               #A5A5A5
urxvt*color10:              #A4A4A4
!
!!YELLOW
urxvt*color3:               #777777
urxvt*color11:              #646464
!
!! BLUE
urxvt*color4:               #999999
urxvt*color12:              #7C7C7C
!
!! MAGENTA
urxvt*color5:               #4C4C4C
urxvt*color13:              #515151
!
!! CYAN
urxvt*color6:               #2B2B2B
urxvt*color14:              #322929
!
!!WHITE
urxvt*color7:  #000000
urxvt*color15: #101010
!
!

!!
!! END URxvt.

